
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Anuphan", sans-serif;
	font-family: "Baloo Bhaina 2", cursive;
	font-family: "Bree Serif", serif;
	font-family: "Inter", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	text-decoration: none;
}

.main-wrapper{
    height: 100vh;
	width: 100vw;
	background-color: #e0e0d7;
}

.nav-container {
	width: 100%;
	height: 3.5rem;
	background-color: #4361ee;
    position: sticky;
	top: 0;
    z-index: 10;
    box-shadow: 0px 2px 4px 0px rgba(128, 124, 124, 0.75);
    /* position: relative; */
}


.nav-content {
	max-width: 1130px;
	margin: 0 auto;
	display: flex;
	gap: 1.5rem;
	justify-content: space-evenly;
	align-items: center;
}


.flip-icon {
	padding-top: 0.75rem;
	/* margin: 1rem; */
}


.super-icon {
	padding-top: -1rem;
	margin-top: -0.45rem;
	font-style: italic;
	font-size: small;
}


.super-icon a {
	color: white;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 0.75rem;
	font-weight: 100;
}


.super-icon a:hover {
	text-decoration: underline;
}

.super-icon a span {
	color: rgb(223, 196, 39);
	font-size: 0.75rem;
	font-weight: 100;
}

.flip-icon img {
	width: 4.5rem;
}

.super-icon img {
	width: 0.65rem;
}

.nav-searchbar {
	padding-top: 0.5rem;
	/* border-radius: .25rem; */
	border: none;
}

.nav-searchbar input {
	padding: 0 14px;
	border-radius: 3px 0 0 3px;
	border: 0;
	outline: 0 none;
	font-size: 14px;
	height: 36px;
	width: 500px;
	width: 100%;
	position: relative;
}

.nav-searchbar button {
	border: 1px solid white;
	background-color: white;
	height: 36px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	padding: 4px 12px 0 8px;
	position: absolute;
}

.nav-container button i {
	font-size: 1.2rem;
}

.nav-loging-btn {
	padding-top: 0.5rem;
	padding-left: 2rem;
	/* padding: 0 1.5rem 1.5rem 0; */
}

.login-button {
	padding: 5px 22px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1rem;
    font-weight:600;
    color: #4361ee;
}

.some-heading{
    padding-top: .5rem;
}

.some-heading a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.more-icon{
    padding-top: .5rem;
    color: white;
}

.more-icon a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.more-icon i {
    font-size: .7rem;
    margin-top: .25rem;
    padding-top: .25rem;
    padding-left: .25rem;
}

.nav-addcard{
    padding-top: .5rem;
    color: white;
    cursor: pointer;
}

.nav-addcard i{
    font-size: 1rem;
    margin-top: .25rem;
    padding-top: .25rem;
}

.nav-container span{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding-left: .25rem;
    padding-top: -1rem;
    text-transform: capitalize;
}

.nav-heading{
    background-color: white;
    position: relative;
    /* color: black; */
    box-shadow: 0px 4px 4px 0px rgba(128, 124, 124, 0.75);
}

.heding-navbar{
    background-color: white;
    text-align: center;
    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(128, 124, 124, 0.75);
}

.heading-content{
    max-width: 1230px;
	margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    /* display: none;  */
}



.heading-card{
    padding-top: 1rem; 
    padding-bottom: .75rem;
}

.heading-content{
    color: black;
    font-weight: 600;
    font-size: .8rem;
    transition: all .5s;
}

.heading-content:hover{
    color: blue;
}

.heading-content span i {
    padding-top: .3rem;
    padding-left: .3rem;
}

#t{
    padding-top: .25rem;
}

.scroll{
    margin: .5rem;
    padding-top: .5rem;
}



.btn-element{

    border-radius: 4px;
    position: relative;
}


.btn-left{
    position: absolute;
    left: 0;
    top: 5rem;
}

.btn-left{
    height: 75px;
    width: 45px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
   
}

.btn-left i{
    font-size: 2rem;
}

.btn-right{
    position: absolute;
    right: 0;
    top: 5rem;
}

.btn-right {
    height: 75px;
    width: 45px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
}

.btn-right i{
 font-size: 2rem;
}


.bst-elec-wrapper{
    display: flex;
    gap: 1rem;
    margin: .5rem;
    position: relative;
}

.bst-elec-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
   
}

.bst-left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 230px;
    
}

.bst-left-container p{
    font-size: 1.75rem;
    text-align: center;
    font-weight: 500;
}


.bst-left-container a{
    padding-top: .75rem;
}


.bst-left-container a button{
    height: 35px;
    width: 90px;
    border: none;
    background-color:#4361ee ;
    border-radius: 3px;
    color: white;
    font-size: .9rem;
    font-weight: 500;
}

.card-main{
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}


.bst-right-card{
    text-align: center;
    padding-top: 1.25rem;
  
}

.bst-right-card img{
    transform: scale(.9);
    transition: all .5s;
}


.bst-right-card:hover img{
    transform: scale(1);
}

.bst-right-card h5{
    padding-top: 1.25rem;
    font-size: 1rem;
    font-weight: 600;
}

.bst-right-card a{
    padding-top: 1.5rem;
    color: rgb(16, 86, 16);
}

.bst-right-card p{
    opacity: .5;
}

#new{
    opacity: 1;
}

#new span{
    opacity: .5;
    font-size: small;
    text-decoration:line-through;
}


.bst-elec-container-right{
    background-color: #fff;
    /* width: 100%; */
    border-radius: 4px;
}

.bst-elec-container-right img{
    margin: .5rem .5rem 0 .5rem;
    height: 360px;
    width: 92%;
    border-radius: 4px;

}

.right-btn{
    height: 75px;
    width: 45px;
    border: 2px solid rgb(234, 220, 220);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    position:absolute;
    top: 8.5rem;
    right: 14.25rem;
}


.right-icon{
    border: none;
    position:absolute;
    top: 8.5rem;
    right: 0;
}

.right-btn i{
    font-size: 2rem;
}

.nav-section{
    margin: .5rem .0rem 0 .0rem;
    background-color: #fff;
    border-radius: 2px;
}

.nav-cont{
    padding: 3rem 1rem 1rem 1rem;
    margin: .5rem;
}

.top-head{
    display: flex;
    margin: .5rem .5rem .5rem 0;
    padding: .5rem .5rem .5rem 0; 
    gap: .25rem;
    font-size: 1rem;
    font-weight: 500;
}

.top-head p {
    opacity: .75;
}

.top-head .span{
    opacity: .89;
}

.nav-p{
    padding: .5rem .5rem .5rem 0;
}

.p-head{
    font-size: 1rem;
    font-weight: 500;
    opacity: .75;
}

.tag{
    color: #000;
    cursor: pointer;
    border-right:1px solid #000;
    font-size: .75rem;
    padding-right: .25rem;
    opacity: .75;
}

.flip-comp{
    padding-top: 1rem;
}

.flip-comp h2{
    margin: .25rem .25rem .25rem 0;
    padding: .25rem .25rem .25rem 0; 
    font-size: 1.25rem;
    font-weight:600;
    opacity: .8;
}

.flip-comp p{
    font-size: .85rem;

    opacity: .75;
}


.footer-container{
	background-color: #172337;
	margin-top: 2rem;
	padding-top: 2.5rem;
	color: white;
}

.footer-top{
	max-width: 1400px;
	margin: 0 auto;
	line-height: 1.5;

	/* display: flex; */
}

.footer-cont{
	display: flex;
	justify-content: space-between;
	color: white;
}

.footer-content p {
	color: white;
	opacity: .5;
}

#op{
	opacity: 1;
	font-size: .75rem;
}


#board{
	border-left: 1px solid whitesmoke ;
	padding-left: 1rem;
	height: 155px
}


.footer-content ul li a{
	color: white;
	font-size:x-small;
	font-weight:400;
	transition: all .25s;
}

.footer-content ul li a:hover{
	text-decoration:underline;

}
.footer-content ul {
	padding: .7rem .74rem .74rem 0;
}

.address{
	color: white;
	font-size: .7rem;
	font-weight: 400;
	line-height: 1.5;
	/* opacity: 1; */
	padding: .7rem .74rem .74rem 0;
}

#ops{
	opacity: 1;
	font-size: .75rem;
}

#tel{
	opacity: 1;
	font-size: .75rem;

	/* padding-left: .7rem; */
}
hr{
	opacity: .5;
}

.foot-b-cont{
	max-width: 1350px;
	margin: 0 auto;
	/* line-height: 1.5; */
	display: flex;
	justify-content: space-between;
    padding-top: 1rem;
}

.foot-b-container span{
	font-size: .85rem;
	padding-left: .45rem;
	padding-top: 1rem;
}


@media screen and (max-width: 980px) {
    .card1{
        display: none;
    }

    .btn-element{
        display: none;
    }

    .bst-elec-container-right , .right-btn{
        display: none;
    }

    .bst-elec-container{
        display: flex;
        flex-wrap: wrap;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }

   

    .card-main{
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 674px) {
    .card2{
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .card3{
        display: none;
    }


    
}

@media screen and (max-width: 630px){
     .top-head p{
       
        color: #000;
		
	}

    .top-head .span{
        padding-top: .15rem;
        font-size: .85rem;
    }

    .nav-p span{
        color: #000;
    }
}


@media screen and (max-width: 800px){
	.nav-addcard{
		display: none;
	}
}

@media screen and (max-width: 730px){
	.some-heading{
		display: none;
	}
}

@media screen  and (max-width: 630px){
	.nav-searchbar{
		padding: 0 14px;
		border-radius: 3px 0 0 3px;
		border: 0;
		outline: 0 none;
		font-size: 12px;
		height: 36px;
		width: 25%;
	}

	.flip-icon img{
		width: 3.5rem;
	}

	.super-icon a , span {
		color: white;
		text-decoration: none;
		text-transform: capitalize;
		font-size: 0.5rem;
		font-weight: 100;
	}

	.super-icon span{
		font-size: 0.5rem;
		font-weight: 100;
	}

	.super-icon  img{
		display: none;
	}
	
}

